<!DOCTYPE html>
<html>
	<head>
		<title>Antonio Miller</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/about">about</a></li>
        		<li><a href="/resume">resume</a></li>
        		<li><a href="/my work">my work</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Antonio Miller</h1>
				<p>I'm a data analyst and digital designer. <a href="/about">See my work...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:antonio.i.mllr@gmail.com">email</a></li>
        		<li><a href="https://github.com/antoniomllr">github.com/antoniomllr</a></li>
			</ul>
		</footer>
	</body>
</html>
